<%  if !@issue.blank? && @issue.pp_criteria_issues.any? %>
<hr>
<div class="requeriment-engineering">
    <p> 
        <strong> Ingenieria de requerimientos </strong>
    </p>
    <div id="pp_criteria_issue" class="pp-issues-criteria-list">
        <table id="criteria-table" class="table table-pp">
            <thead class="thead-light">
                <tr style="text-align: center">
                    <th> Proceso de priorizacion </th>
                    <th> Criterio </th>
                    <th> Valor </th>
                </tr>
            </thead>
            <tbody>
                <% @issue.pp_criteria_issues.each do |criteria| %>
                        <% if !criteria.pp_criteria.prioritization_process.is_ended? %>
                            <tr style="text-align: center">
                                <td> <%= link_to "#{criteria.pp_criteria.prioritization_process.id.to_s}", prioritization_process_path(criteria.pp_criteria.prioritization_process.id)   %> </td>
                                <td> <%= criteria.pp_criteria.name  %> </td>
                                <td> <%= number_field_tag "pp_criteria_issue[#{criteria.id}][value]", criteria['value'] %> </td>
                            </tr>
                        <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag "tables", plugin: "dss_pnrp" %>
<% end %>