<div class="pr-board box row justify-content-center">
        <h5>Tomadores de decisiones</h5>
        <table id="decision-maker-table" class="table table-striped w-50 mt-10">
            <thead class="thead-light">
                <tr style="text-align: center">
                    <th> Nombre </th>
                    <th> Apellido </th>
                    <th> Seleccionar </th>
                </tr>
            </thead>
                
            <tbody>
                <% @persons.each do |person| %>
                    <tr align="center">
                        <td> <%= person.firstname %> </td>
                        <td> <%= person.lastname %> </td>
                        <td> <%= check_box_tag "persons_ids[]", person['id'], false, :id => "persons_ids_#{person['id']}"  %> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
</div>