<div class="pr-board box row justify-content-center">
        <h5>Seleccionar requerimientos</h5>
        <table id="requirement-table" class="table w-50 mt-10">
            <thead class="thead-light">
                <tr style="text-align: center">
                    <th> ID </th>
                    <th> Asunto </th>
                    <th> Descripcion </th>
                    <td> 
                        <div> Seleccionar todos </div>
                        <input type="checkbox" id="select-all-chk">
                    </td>
                </tr>
            </thead>
                
            <tbody>
                <% @issues.each do |issue| %>
                    <tr style="text-align: center">
                        <td> <%= issue.id %> </td>
                        <td> <%= issue.subject %> </td>
                        <td style="text-align: left!important;"> <%= issue.description %> </td>
                        <td> <%= check_box_tag "issues_ids[]", issue['id'], false, :id => "issues_ids_#{issue['id']}"  %> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>