<h2>RequerimentEngineeringController#index</h2>

<%= link_to "Menu personas", "/priorization_process_persons" %>
<%= link_to "Menu algoritmos", "/priorization_process_algorithms" %>
<%= link_to "Menu alternativas", "/priorization_process_alternatives" %>