<table>
  <tbody>
    <tr>
      <th>PNRP Fast API Backend Address</th>
      <td>
        <input type="text" id="settings_backend_address" 
                           value="<%= settings['backend_address'] %>" 
                           name="settings[backend_address]" >
      </td>
    </tr>
  </tbody>
</table>
