<h2>PriorizationProcessController#index</h2>

<% @alternatives.each do |alternative| %>
  <p> 
    Alternative number   - <%= alternative[0] %>  -
  </p>
  <% alternative[1].each do |issue| %>
      <p> 
        Subject   - <%= issue.subject %>  -
        Priority  - <%= issue.priority %> -
      </p>
  <% end %>
<% end %>

