<h2>PriorizationProcessController#index</h2>

Testing asdasdasd :: asdasdasdasd

<% @issues.each do |issue| %>
    <p> 
      Project   - <%= issue.project %>  -
      Subject   - <%= issue.subject %>  -
      Priority  - <%= issue.priority %> -
    </p>
<% end %>

