<h2>PriorizationProcessController#view</h2>

<p>
    <% @issues.each do |issue|%>
        issue id:
        <%= issue['id'] %> \n
        issue description:
        <%= issue['description'] %>
    <% end %>

</p>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "bootstrap", plugin: "dss_pnrp" %>
<% end %>