.options{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

a.button{
    background-color: #898ac3;
    border: 2px solid #2e60bb;
    border-radius: 3px;
    padding: 2px 5px;
    text-align: center;
    color: black;
    font-size: 14px;
    text-decoration: none;
    transition-duration: 0.3s;
}

a.button:hover {
    background-color: #37309c;
    text-decoration: none;
  }
