.pr-board {
    display: grid;
}

/* RANKS */

.rank-issues {
    display: table;
    justify-content: space-between;
    overflow-x: hidden;
    
}

.rank-column{
    display: grid;
    width: auto;
    text-align: center;
    grid-auto-flow: column;
    margin-bottom: 0.5%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    background-color: rgb(250, 182, 157);
}

.rank-column-issue{
}

.rank-column-position{
}

.rank-column-option{
}

/* ALTERNATIVES */

.alternative {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px auto;
    background-color: rgb(234, 234, 234);
    padding: 5px;
    border-radius: 5px;
}

.alternative-option {
}

.alternative-issues {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    grid-auto-columns: auto;
    justify-content: space-between;
    overflow-x: auto;
}

.issues-column{
    width: 200px;
    text-align: center;
    margin-bottom: 10%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    background-color: rgb(250, 182, 157);
}

@media only screen 
and (max-device-width : 400px) {
    .alternative-issues {
        grid-auto-flow: row;
        overflow-x: hidden;
    }
}


.issue-column-priority {
    font-weight: bold;
    
}


.issue-column-subject { 
    
}

.pp-issues-criteria-list{
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    background-color: rgb(230, 230, 230);
}

.table-pp{
    text-align: center;
    width: 100%;
}